<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="../styles/styles.css">
    <title>Wheelie out your feelies</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">

        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dating website <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="home">

        <div class="row">
            <div class="col">
                <div class="container left">
                    <h1>Wheelie out your feelies.</h1>

                    <h2>The dating website for motorcycle lovers.</h2>
                    <br>
                    <p>Are you single? do you love to ride? Well you came to the right place.  Meet your
                    soulmate today. We match you based on area you reside in, riding style, and
                    most importantly, your lap time, because what is worse than getting destroyed on the
                    track on your first date. With this dating site, you won't have to worry about that. Sign up
                    today and you will find that perfect someone and be riding out in the sunset in no time.</p>

                    <br>

                    <button class="btn btn-primary btn-lg" id="submit" type="submit">Creat a Profile!</button>
                </div>
            </div>



            <div class="col">
                <div class="container">
                    <img src="/328/dating/images/bikeCouple.jpg" alt="Seattle Bikes">
                </div>
            </div>
        </div>

    </div>




</body>
</html>